html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: "Tiny5";
    height: 100vh;
    position: relative;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
#tela-inicial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#iniciar-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-family: "Tiny5";
}



#iniciar-button:hover {
    background-color: #797979;
}

#tela-reinicio {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 32px;
    z-index: 100;
}

#reiniciar-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    font-size: 24px;
    border: none;
    cursor: pointer;
    font-family: "Tiny5";
    margin-top: 20px;
}

#reiniciar-button:hover {
    background-color: #797979;
}

#placar {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 10px;
    margin-bottom: 20px;
    font-size: 32px;
    color: white;
    z-index: 10;
}

#time1,
#time2 {
    margin: 0 15px;
}

#mapa {
    width: calc(117 * 8px);
    height: calc(81 * 8px);
    position: relative;
    image-rendering: pixelated;
    background-image: url("img/campo-png.png");
    background-size: cover;
}

#golEsquerdo,
#golDireito {
    position: absolute;
    width: calc(6 * 8px);
    height: calc(15 * 8px);
    background-image: url("img/gol-futebol-png.png");
    background-size: cover;
    top: calc(66 * 4px);
}

#golEsquerdo {
    left: -48px;
}

#golDireito {
    right: -48px;
    transform: scaleX(-1);
}

#jogador1,
#jogador2 {
    position: absolute;
    width: calc(16 * 3px);
    height: calc(16 * 3px);
}

#jogador1 {
    background-image: url("img/botao-azul.png");
    background-size: cover;
}

#jogador2 {
    background-image: url("img/botao-vermelho.png");
    background-size: cover;
}

#bola {
    width: calc(8 * 4px);
    height: calc(8 * 4px);
    background-image: url("img/bola.png");
    background-size: cover;
    position: absolute;
    left: 390px;
    top: 190px;
}

#controleJogadores {
    position: fixed;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    gap: 1200px;
    bottom: 270px;
}

#controleJogador1,
#controleJogador2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.controle {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
}

